.navbar.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    /* z-index: 100; */
    top: 0;
    height: 51px;
    right: 0;
    left: 0;
    padding: 0 2.4rem;
    z-index: 105;
    border-bottom: 1px solid rgb(140 140 140/.2);
}

.navbar-items.css-ku2emo-MuiStack-root {
    height: 51px;
}


.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root{
    background-color: #f2f3f0;
    height: 35px;
    display: flex;
    justify-content: center;
}

.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input{
    height: 0px !important;
} 

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    display: flex;
    justify-content: center;
}